services:
  flask:
    build: ./minimal-flask-example
    container_name: flask_app
    expose:
      - "5000"

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - flask

